body{
    margin: 0px;
}
header{
    height: 100%;
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 40px;
}
nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav > a{
    margin-left: 20px;
    margin-right: 20px;
}
pre{
    margin: 0px;
    font-size: 15px;
}
h1{
    font-size: 30px;
    font-weight: 400;
    margin: 5px;
    margin-left: 0px;
}
footer{
    height: 100%;
    background-color: black;
    color: white;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 80px;
    padding-bottom: 80px;
}
footer > div{
    display: flex;
}

/* ====================================================== */

.mainContDiv{
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 50px;
    padding-bottom: 100px;
}
.menuBtn{
    border: none;
    border-radius: 0.3rem;
    background-color: black;
    width: 40px;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.menuBtn > i{
    color: white;
}
.contentImg{
    width: 100%;
    height: auto;
}
.sectionContDiv > div{
    background-color: white;
    box-shadow: -5px -5px 15px black;
}
.sectionImg{
    width: 70px;
    height: 70px;
}
.subContDiv{
    margin-top: -160px;
    padding-top: 180px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resultContDiv{
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.subContPigureDiv{
    display: flex;
    justify-content: space-evenly;
}
.subContPigureDiv > div{
    height: 250px;
    width: 250px;
}
.moreBtn{
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    height: 50px;
    width: 160px;
    font-size: 15px;
}
.footerSpan{
    margin-top: 20px;
}
footer > div{
    padding-bottom: 50px;
    border-bottom: 1px solid gray;
}

/* =============================================================== */

.flx-row-Cls{
    display: flex;
    flex-direction: row;
}
.flx-Center-Cls{
    justify-content: center;
    align-items: center;
}
.flx-Column-Cls{
    display: flex;
    flex-direction: column;
}
.txt-50p-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.w-50p{
    width: 50%;
}
.w-100p{
    width: 100%;
}
.h-100p{
    height: 100%;
}
.flx-align-left{
    align-items: flex-start;
}
.txt-center{
    text-align: center;
}
.txt-20{
    font-size: 20px;
}
.txt-40{
    font-size: 40px;
}
.txt-60{
    font-size: 60px;
}
.txt-b{
    font-weight: bold;
}
.pointer{
    cursor: pointer;
}


/* =============================================================== */

@media only screen and (min-width: 780px) {
    header > span{
        width: 40%;
    }
    header > nav{
        width: 60%;
    }
    header > div{
        width: 0%;
    }
    .menuBtn{
        visibility: hidden;
    }
    .menuNav{
        visibility: visible;
    }
    .sectionContDiv{
        display: flex;
        justify-content: space-evenly;
        margin-left: 8%;
        margin-right: 8%;
    }    
    .sectionContDiv > div{
        height: 280px;
        width: 33%;
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* ======================================= */

@media only screen and (max-width: 780px) {
    header > span{
        width: 40%;
    }
    header > nav{
        width: 0%;
    }
    header > div{
        width: 60%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    h2{
        margin: 0px;
    }
    nav{
        justify-content: center;
    }
    .flx-row-Cls{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    } 
    .w-50p{
        width: 100%;
    }
    .menuBtn{
        visibility: visible;
    }
    .menuNav{
        visibility: hidden;
    }
    .mainContDiv{
        padding-top: 50px;
    }    
    .contentImg{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .sectionContDiv{
        display: flex;
        flex-direction: column;
        margin-left: 4vh;
        margin-right: 4vh;
    }    
    .sectionContDiv > div{
        height: 150px;
        padding: 10px;
        margin-top: 20px;
    }
    .subContDiv{
        margin-top: -80px;
        padding-bottom: 30px;
    }
    .subContPigureDiv{
        flex-direction: column;
    }
    .subContPigureDiv > div{
        height: auto;
    }
    .footerSpan{
        align-self: center;
    }    
}

